$body-bg-dark: #17192c !default;
$body-color-dark: white !default;
$link-color-dark: #7c8fac !default;
$body-secondary-color-dark: rgba($body-color-dark, 1) !default;
$Dark-Bg: #0e1025;

[data-bs-theme= dark] {
  .sidebar,
  .topbar,
  .drk {
    background-color: $Dark-Bg;
  }

  a:hover {
    color: var(--bs-primary);
  }

  .user {
    color: white;
  }

  .subuser {
    color: #7c8fac;
  }

  .user-group:hover {
    & .user {
      color: var(--bs-primary);
    }
  }
  .table {
    --bs-table-border-color: #313e54;
    --bs-table-bg: #0e1025;
  }
  .lang {
    color: $gray;
  }

  .Qlink {
    color: white;    
  } 

  .Ql-grp:hover {
    & .Qlink {
      color: var(--bs-primary);
    }
  }

  .shadow {
    --bs-box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  }

  .topbar.scrolled {
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.1);
  }
  
  .snav.scrolled {
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.1);
  }

  .brandLogo {
    color: white;

    &:hover {
      color: white;
    }
  }
}
