$body-bg-dark: #2a3447 !default;
$body-color-dark: white !default;
$link-color-dark: #7c8fac !default;
$body-secondary-color-dark: rgba($body-color-dark, 1) !default;


[data-bs-theme="dark"] {
    .sidebar, .topbar, .drk {
        background-color: $body-bg-dark;
    }
}