// dropdown(user)
$dropdown-min-width: 20rem;
// dropdown(user) end

// font-family
$font-family-base: 'Inter', sans-serif;
// font-family end

// paragraph
$paragraph-margin-bottom: 0rem !default;
// paragraph end

// Enable negative margin
$enable-negative-margins: true;
// Enable negative margin end

// Box shadow set
$box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
// Box shadow set end

// colors
$them-lightblue: #f9fafb;
$primary: #5e88fe;
$primary-50: #bbcdff;
$primarylight: #5e89fe42;
$secondary: #0e10259c;
$white: white;
$green: #22c55e;
$green-50: #d2ffe2;
$red: #ef4444;
$red-50: #ffe2e2;
$blue: #0ea5e9;
$blue-50: #6bb6d84d;
$lightblue: #bde0ef;
$warning: #f59e0b;
$warning-50: #fff4e2;
$pink: #ec4899;
$lightgray: #5a6a857b;
$gray: #7c8fac;
$theme-colors: (
  'them-lightblue': $them-lightblue,
  'primary': $primary,
  'primary-50': $primary-50,
  'primarylight': $primarylight,
  'secondary': $secondary,
  'white': $white,
  'green': $green,
  'green-50': $green-50,
  'red': $red,
  'red-50': $red-50,
  'blue': $blue,
  'blue-50': $blue-50,
  'lightblue': $lightblue,
  'warning': $warning,
  'warning-50': $warning-50,
  'pink': $pink,
  'lightgray': $lightgray,
  'gray': $gray,
) !default;
// colors end

// Define custom colors for the navbar-links
// $navbar-light-color: $dark;
// $navbar-light-hover-color: $primary;
// Define custom colors for the navbar-links end

$table-bg: var(--bs-white);

// Body
$body-bg: #f9fafb !default;
$body-color: black !default;

// navlink-active
$nav-pills-link-active-color: $blue;
$nav-pills-link-active-bg: $blue-50;
// navlink-active end

// a tag link color
$link-color: $secondary;
$link-hover-color: $blue;
// a tag link color end

// Position
$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
  17: 17%,
  3: 3.5%,
  9: 9%,
  256: 256px,
);
// Position end

// font-size
$font-sizes: (
  14: 14px,
  12: 12px,
  16: 16px,
  18: 18px,
  20: 20px,
  24: 24px,
  28: 28px,
) !default;
$font-size-base: 1rem !default;
// font-size end

// Spacer
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 0.75,
  7: $spacer * 1.25,
  12: 12px,
) !default;
// Spacer end

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1279px,
  xxl: 1400px,
) !default;
// scss-docs-end grid-breakpoints
