@import './variables';
@import './dark';
@import './theme-blue';
@import './theme-aqua';
@import './theme-purple';
@import './theme-green';
@import './theme-cyan';
@import './theme-orange';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
//-----------------------
// container max-width
//-----------------------
.container-fluid {
  max-width: 1184px;
}
//-----------------------
// container max-width end
//-----------------------

//-----------------------
// Added styles for main content (body wrapper)
//-----------------------
.body-wrapper {
  // margin-left: 256px; /* Account for the sidebar width */
  margin-top: 90px; /* Account for the topbar height */
  min-height: calc(100vh - 90px); /* Ensure content stretches vertically */
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}

#main {
  margin-left: 256px;
  transition: margin-left 0.3s ease-in-out;

  @media (max-width: 1279px) {
    margin-left: auto;
  }
}

#main.expanded {
  margin-left: 65px;
  transition: margin-left 0.3s ease-in-out;

  @media (max-width: 1279px) {
    margin-left: auto;
  }
}
//-----------------------
// Added styles for main content (body wrapper) end
//-----------------------

// 
.bg-primarylight{
  --bs-bg-opacity: .1;
}
// 

//-----------------------
// dark mode
//-----------------------
.sidebar,
.topbar,
.drk {
  background-color: white;
}
//-----------------------
// dark mode end
//-----------------------

// ----------------------
// topbar
// ----------------------
.topbar.scrolled {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.snav.scrolled {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
// ----------------------
// topbar end
// ----------------------

//-----------------------
// user icon sub-text color(topbar)
//-----------------------
.subuser {
  color: $gray;
}
//-----------------------
// user icon sub-text color(topbar) end
//-----------------------

//-----------------------
// sidebar link hover effect
//-----------------------
.hover-bg:hover {
  color: var(--bs-primary);
  background-color: var(--bs-light-primary);
}

a:hover {
  color: var(--bs-primary);
}

.nav {
  --bs-nav-link-padding-x: 1.2rem;
}
//-----------------------
// sidebar link hover effect end
//-----------------------

//-----------------------
// side-scrollbar hide
//-----------------------
.sidebar-content {
  scrollbar-width: none; /* For Firefox */
}

.sidebar-content::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
//-----------------------
// side-scrollbar hide end
//-----------------------

//-----------------------
// employee salary chart design
//-----------------------
.indicator {
  width: 12px;
  height: 12px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 6px;
}
.indicator-sales {
  background-color: var(--bs-secondary); /* Blue for Total Sales */
}
.indicator-expenses {
  background-color: var(--bs-primary); /* Light Gray for Expenses */
}
//-----------------------
// employee salary chart design end
//-----------------------

//-----------------------
// Sidebar
//-----------------------
#sidebar {
  width: 256px;
  transition: width 0.3s ease-in-out;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

#sidebar ul.nav .nav-link i {
  margin-right: 0.5rem;
}

#sidebar.collapsed {
  width: 70px;
  transition: width 0.3s ease-in-out;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

#sidebar.collapsed .sidebar-text {
  display: none;
}

#sidebar.collapsed ul.nav .nav-link {
  justify-content: center;
}

#sidebar.collapsed ul.nav .nav-link i {
  margin-right: 0;
}

#sidebar.collapsed .logo {
  display: flex;
  justify-content: center;
  gap: 0;
}
//-----------------------
// Sidebar end
//-----------------------

//-----------------------
// topbar
//-----------------------
#topbar {
  left: 256px;
  transition: left 0.3s ease-in-out;
}

#topbar.expand {
  left: 70px;
  transition: left 0.3s ease-in-out;
}
//-----------------------
// topbar end
//-----------------------

//-----------------------
// table
//-----------------------
.tbl {
  @media (max-width: 540px) {
    overflow-x: scroll;
  }
}

.table {
  @media (max-width: 540px) {
    white-space: nowrap;
  }
}
//-----------------------
// table end
//-----------------------

//-----------------------
// user offcanvas outline button color change
//-----------------------

.useroffc:hover {
  background-color: var(--bs-light-primary);
}

//-----------------------
// user offcanvas outline button color change end
//-----------------------

//-----------------------
// lng dropdown
//-----------------------
.lng {
  --bs-dropdown-min-width: 12rem;
}

.lang {
  color: #5a6a85;
}

.lang:hover {
  background-color: var(--bs-light-primary);
  color: var(--bs-primary);
}
//-----------------------
// lng dropdown end
//-----------------------

//-----------------------
// controller btn customization
//-----------------------

.active {
  --bs-btn-active-color: var(--bs-primary);
}

.control-btn{
  transition: transform 0.3s ease;
}

.control-btn:hover {
  color: var(--bs-primary);
  transform: scale(1.1);
}

//-----------------------
// controller btn customization end
//-----------------------

//-----------------------
// custom background color of icon's div
//-----------------------

.custom-bg {
  background-color: var(--bs-light-primary);
}

//-----------------------
// custom background color of icon's div end
//-----------------------


//-----------------------
// btn color modify
//-----------------------

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-hover-color: white;
  --bs-btn-active-color: white;
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
}
 
//-----------------------
// btn color modify end
//-----------------------

.brandLogo {
  color: black;

  &:hover {
    color: black;
  }
}